/emacs/.emacs.d/recentf
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/eshell/
/emacs/.emacs.d/custom.el
/emacs/.emacs.d/dict/
/emacs/.emacs.d/org/
/emacs/.emacs.d/.python-environments/
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/url/
/emacs/.emacs.d/straight/*
/emacs/.emacs.d/tramp
*.DS_Store
*#

!versions
