/.emacs.d/inits/09-kill-ring-hist.el
/.emacs.d/.cask/
/.emacs.d/recentf
/.emacd.d/bookmarks
/.emacd.d/eshell/
/.emacd.d/custom.el
/.emacs.d/dict/
/.emacs.d/org/
/.emacs.d/.python-environments/
/.emacs.d/themes/


